#chart-area svg {
 
    display: block;
  }
.container-fluid{
  background-color: whitesmoke;

}
  
  #logo {
    height:50px;
  }
  
  
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis path, .axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
  
  .line {
    fill: none;
    stroke-width: 2px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
  }
    
  .hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }
  
  #selections .col-md-4 {
    padding-top: 10px;
    
  }
  
  
  .line {
    fill: none;
    stroke-width: 3px;
    stroke: steelblue;
  }

/* On mouse hover, lighten state color */
path.state:hover {
    fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

/* Legend Font Style */
#map {
    font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
    position:absolute;
    left:800px;
    top:350px;
}



.bar{
  fill: #4682b4
}

.bar:hover{
  fill: #17bf3c
}
  

.axis{
  font-family: arial;
  font-size: 12px
}

.axis path,
.axis line
  {fill: none;
  shape-rendering: crispEdges;
  }

.x.axis path
  {display: none}

.y.axis text
  {fill: #000}


  span
    {color: #d11515}

    .bar {
      fill: #80cbc4;
    }
    
    text {
      font-size: 12px;
      fill: black;
    }
    
    path {
      stroke: gray;
    }
    
    line {
      stroke: gray;
    }
    
    line#limit {
      stroke: #FED966;
      stroke-width: 3;
      stroke-dasharray: 3 6;
    }
    
    .grid path {
      stroke-width: 0;
    }
    
    .grid .tick line {
      stroke: #9FAAAE;
      stroke-opacity: 0.3;
    }
    
    text.divergence {
      font-size: 12px;
      fill: #2F4A6D;
    }
    
    text.value {
      font-size: 12px;
    }
    
    text.title {
      font-size: 22px;
      font-weight: 600;
    }
    
    text.label {
      font-size: 12px;
      font-weight: 400;
    }
    
    text.source {
      font-size: 10px;
    }